$('#header').after('<div id="flash_notice"><%= escape_javascript(flash.discard(:notice)) %></div>');
$('#groupList').append("<%= escape_javascript(render(@group)) %>");
$('#newGroupPopup').dialog('close');