<!DOCTYPE html>
<html>
<head>
  <title>Rails 3.1 Stuff</title>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/black-tie/jquery-ui.css" >
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" language="JavaScript" ></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
